#page-container {
    position: relative;
}
#signin-click {
    position: absolute;
    width: 80px;
    height: 30px;
    right: 195px;
    top: 95px;
}
#signin-box {
    display: none;
    position: absolute;
    width: 250px;
    right: 95px;
    top: 125px;
    background: #FFF;
    border: solid 2px #000;
    border-radius: 1em;
    padding: 2em;
}
.dynamite h1 {
    padding-bottom: 4px;
    font-size: 32px;
    line-height: 36px;
    font-family: Georgia,"Times New Roman",serif;
}
.contentSection .dynamite {
    margin: 2em 0;
    padding: 0.5em;
    border-top: 8px solid #e9decf;
}
.contentSection .dynamite h2 {
    font-size: 21px;
    line-height: 26px;
    font-family: Georgia,"Times New Roman",serif;
    margin: 0.5em 0 0.2em;
}
.contentSection .dynamite ul li {
    padding-left: 10px;
    background: url("http://im.ft-static.com/m/img/bullets/small-dot.gif") 0 6px no-repeat;
}
#dynamite_tag {
    z-index: 100;
    background: #000;
    color: #FFF;
    position: fixed;
    right: -1em;
    bottom: 100px;
    width: 250px;
    border: solid 5px #FFF;
    opacity: 0.8;
    border-radius: 0.5em;
    padding: 0.5em 1em 0.5em 0.5em;
}
#dynamite_tag a {
    color: #FFF;
    text-decoration: underline;
}
#dynamite_tag a:hover {
    color: #FFF;
    text-decoration: none;
}
#dynamite_tag h1 a {
    text-decoration: none;
}
#timeline {
    height: 300px;
}
.ft-timeline {
    background: #2e6e9e;
}
#speechinput {
    font-size: 1.5em;
    width: 60%;
}
.chzn-container.chzn-container-single {
    max-width: 300px !important;
}